.welcome-page-wrapper {
	background-image: url('http://localhost:3000/images/welcome-background.png');
	background-position: top;
}

.welcome-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-height: 100vh;
	height: 840px;
	width: 1024px;
	margin: 0 auto;
	position: relative;
	/* border: 1px dotted gray; */
}

.welcome-page-login {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 10px;
	margin-right: 30px;
}

.welcome-page-header {
	font-size: 96px;
	font-weight: 700;
	line-height: 110px;
	color: #333;
	margin-bottom: 24px;
}

.welcome-page-description {
	font-family: 'Manrope';
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.welcome-page-buttons-invite-wrapper {
	display: flex;
	flex-direction: column;
}

.welcome-page-buttons {
	font-size: 32px;
	display: flex;
	justify-content: space-between;
	max-width: 70%;
	margin: 0 auto;
	margin-top: 100px;
	gap: 100px;
	line-height: 55px;
}

.welcome-page-invite-wrapper {
	display: flex;
	flex-direction: column;
}

.welcome-page-invite {
	font-size: 32px;
	margin-top: 40px;
	color: #2975A7;
	margin-bottom: 30px;
}