.delete-button {
	background-color: #b74744;
	font-size: 16px;
	padding: 22px 80px;
	border: 1px solid #333333;
	box-shadow: 8px 8px #333333;
	font-weight: 600;
	color: #ffffff;
	font-family: 'Manrope'
}

.delete-button:hover,
.delete-button:active {
	opacity: 0.5;
	cursor: pointer;
}