.print-event-form-wrapper {
	margin: 0 auto;
	margin-top: 20px;
	width: 1022px;
	border: 1px dashed #2975a7;
}

.print-event-form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.print-event-form-columns {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: left;
	margin-top: 20px;
	gap: 60px;
}

.print-event-form-column-1 {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 300px;
}

.print-event-form-column-2 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 20px;
	width: 250px;
}

.print-event-form-column-3 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 20px;
	width: 250px;
}

input[type='text'] {
	width: 100%;
	max-width: 500px;
	font-size: 16px;
	color: #2975a7;
	padding: 5px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input[type='submit'] {
	max-width: 300px;
	background-color: whitesmoke;
	font-size: 20px;
	padding: 18px 20px;
	border: 1px solid #2975A7;
	font-weight: 700;
	color: #2975A7;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	margin: 0 auto;
	margin-bottom: 20px;
}

input[type='submit']:hover {
	cursor: pointer;
	opacity: 0.5;
}

select {
	width: 80px;
}

textarea {
	width: 100%;
	max-width: 500px;
	font-size: 16px;
	color: #2975a7;
	padding: 5px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	margin: 0 auto;
	margin-top: -10px;
}

label {
	color: #2975a7;
	font-size: 20px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	margin-bottom: -10px;
}

.submit-print-button {
	background-color: whitesmoke;
	font-size: 20px;
	padding: 20px 30px;
	border: 1px solid #2975A7;
	font-weight: 700;
	color: #2975A7;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	max-width: 270px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.submit-print-button:hover,
.submit-print-button:active {
	opacity: 0.5;
	cursor: pointer;
}

.file-uploader-preview {
	width: 150px;
}

.print-event-form-column-2 img,
.print-event-form-column-3 img {
	width: 150px;
}