.print-event-form-wrapper {
	margin: 0 auto;
	margin-top: 20px;
	width: 600px;
	/* border: 1px dashed #2975a7; */
}

.print-event-form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	text-align: left;
}

.print-event-title-wrap,
.print-event-location-wrap,
.print-event-comment-wrap {
	display: flex;
	flex-direction: column;
	gap: 7px;
}

.print-event-form-row-1,
.print-event-form-row-2 {
	display: flex;
	gap: 15px;
}

.print-event-id-event-distance {
	display: flex;
	flex-direction: column;
	text-align: left;
	width: 190px;
	gap: 7px;
}

.print-event-time-pace {
	display: flex;
	flex-direction: column;
	gap: 7px;
	width: 100%;
}

.print-event-pictures-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between
}

.print-event-picture-wrap {
	display: flex;
	flex-direction: column;
	gap: 7px;
}


input[type='text'] {
	font-size: 14px;
	color: #333333;
	padding: 5px;
	font-family: 'Manrope';
	height: 36px;
}

input[type='submit'] {}

input[type='submit']:hover {
	cursor: pointer;
	opacity: 0.5;
}

select {
	width: 190px;
	height: 50px;
}

textarea {
	width: 566px;
	font-size: 14px;
	color: #333333;
	padding: 15px;
	font-family: 'Manrope';
	margin: 0 auto;
	font-weight: 400;
}

label {
	color: #333333;
	font-size: 14px;
	font-family: 'Manrope';
}

.submit-print-button {
	width: 598px;
	background-color: #333333;
	font-size: 16px;
	border: 1px solid #5BC0EB;
	box-shadow: 8px 8px #5BC0EB;
	font-weight: 600;
	color: #ffffff;
	font-family: 'Manrope';
	padding: 20px 30px;
	margin-bottom: 20px;
	margin-top: 40px;
}

.submit-print-button:hover,
.submit-print-button:active {
	opacity: 0.5;
	cursor: pointer;
}

.file-uploader-preview {
	height: 100px;
	object-fit: contain;
}

.print-event-picture-title {
	font-family: 'Manrope';
	font-size: 14px;
	color: #333333;
}


input[type="file"] {
	width: 100px;
	display: none;
}

.print-event-picture-label {
	border: 1px solid #333333;
	padding: 5px;
	text-align: center;
	width: 140px;
}

.print-event-picture-label:hover {
	opacity: 0.5;
	cursor: pointer;
}

/* input[type="file"]::file-selector-button {
	border: 1px solid #333333;
	background: white;
	padding: 5px;
	width: 100px;
}

input[type="file"]::file-selector-button:hover {
	opacity: 0.5;
	cursor: pointer;
} */

.print-event-pictures-column img {
	max-height: 100px;
	object-fit: contain;
}