.print-event-form-wrapper {
	margin: 0 auto;
	margin-top: 20px;
	width: 600px;
	/* border: 1px dashed #2975a7; */
}

.print-event-form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	text-align: left;
}

.print-event-title-wrap,
.print-event-location-wrap,
.print-event-comment-wrap {
	display: flex;
	flex-direction: column;
	gap: 7px;
}

.print-event-form-row-1,
.print-event-form-row-2 {
	display: flex;
	gap: 15px;
}

.print-event-id-event-distance {
	display: flex;
	flex-direction: column;
	text-align: left;
	width: 190px;
	gap: 7px;
}

.print-event-time-pace {
	display: flex;
	flex-direction: column;
	gap: 7px;
	width: 100%;
}

.print-event-pictures-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between
}

.print-event-picture-wrap {
	display: flex;
	flex-direction: column;
	gap: 7px;
}


input[type='text'] {
	font-size: 14px;
	color: #333333;
	padding: 5px;
	font-family: 'Manrope';
	height: 36px;
	border: 1px solid #333333;
}

input[type='submit'] {}

input[type='submit']:hover {
	cursor: pointer;
	opacity: 0.5;
}

select {
	-webkit-appearance: none;
	width: 190px;
	height: 48px;
	border: 1px solid #333333;
	border-radius: 0;
	padding: 5px;
	background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
	-moz-appearance: none;
}

textarea {
	width: 566px;
	font-size: 14px;
	color: #333333;
	padding: 15px;
	font-family: 'Manrope';
	margin: 0 auto;
	font-weight: 400;
}

label {
	color: #333333;
	font-size: 14px;
	font-family: 'Manrope';
}

.submit-print-button {
	width: 598px;
	background-color: #333333;
	font-size: 16px;
	border: 1px solid #5BC0EB;
	box-shadow: 8px 8px #5BC0EB;
	font-weight: 600;
	color: #ffffff;
	font-family: 'Manrope';
	padding: 20px 30px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.submit-print-button:hover,
.submit-print-button:active {
	opacity: 0.5;
	cursor: pointer;
}


.file-uploader-preview {
	height: 100px;
	object-fit: contain;
}

.print-event-picture-title {
	font-family: 'Manrope';
	font-size: 14px;
	color: #333333;
}


input[type="file"] {
	width: 100px;
	display: none;
}

.print-event-picture-label {
	border: 1px solid #333333;
	padding: 5px;
	text-align: center;
	width: 140px;
}

.print-event-picture-label:hover {
	opacity: 0.5;
	cursor: pointer;
}

/* input[type="file"]::file-selector-button {
	border: 1px solid #333333;
	background: white;
	padding: 5px;
	width: 100px;
}

input[type="file"]::file-selector-button:hover {
	opacity: 0.5;
	cursor: pointer;
} */

.print-event-pictures-column img {
	max-height: 100px;
	object-fit: contain;
}

.print-event-upload-title {
	font-family: 'Manrope';
	font-size: 14px;
	color: #333333;
	margin-bottom: 7px;
}

.print-form-dropzone {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4px;
	width: 600px;
	height: 107px;
	border: 1px dashed #333333;
}

.print-form-dropzone-icon {
	color: #5BC0EB;
	width: 24px;
	height: 24px;
}

.print-form-dropzone-title {
	font-family: 'Manrope';
	font-size: 14px;
	font-weight: 400;
	color: #333333;
}