.login-and-sign-up {
	font-family: 'Manrope';
	color: #333333;
	font-weight: 600;
	font-size: 24px;
	display: flex;
	flex-direction: row;
	gap: 20px;
	line-height: 100%;
}

.login-and-sign-up a:hover {
	opacity: 0.5;
	cursor: pointer;
}