.main-head {
	display: flex;
	justify-content: center;
	gap: 65px;
	margin: 0 auto;
	width: 1024px;
	padding-top: 20px;
	padding-bottom: 20px;
	/* border: 1px dotted grey; */
	position: relative;
}

.user-welcome-picture-block {}

.user-hello {
	font-family: 'Manrope';
	font-weight: 500;
	font-size: 24px;
	color: #333333;
	text-align: left;
}

.user-name {
	font-family: 'Manrope';
	font-weight: 500;
	font-size: 16px;
	color: #333333;
	text-align: left;
}

.user-hello {
	font-family: 'Oswald';
	font-size: 36px;
	font-weight: 700;
	color: #333333;
	text-align: left;
}

.user-picture {
	border: 3px solid #333333;
	box-shadow: 8px 8px #5BC0EB;
	height: 325px;
	width: 227px;
}

.user-welcome-block {
	display: flex;
	flex-direction: column;
}

.user-statistics {
	margin-right: 0;
	margin-top: 20px;
	max-width: 500px;
}

.user-statistic-block {
	border: 3px solid #333333;
	box-shadow: 8px 8px #5BC0EB;
	height: 80px;
	width: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center
}

.user-statistics-title {
	font-family: 'Manrope';
	font-weight: 500;
	font-size: 16px;
}

.user-statistics {
	font-size: 24px;
	font-family: 'Oswald';
	text-align: left;
	font-weight: 500;
	color: #333333;
}

.user-statistics-personal-title {
	font-size: 24px;
	font-family: 'Oswald';
	text-align: left;
	font-weight: 500;
	color: #333333;
	margin-top: 20px;
}

.user-statistics-count {
	font-size: 24px;
	font-family: 'Oswald';
	color: #333333;
	font-weight: 700;
	text-align: left;
}

.user-statistics-list {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 24px;
	color: #333333;
	flex-wrap: wrap;
}

.user-statistics-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 3px solid #333333;
	box-shadow: 8px 8px #5BC0EB;
	height: 80px;
	width: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.user-statistics-item-title {
	font-family: 'Manrope';
	font-weight: 500;
	font-size: 14px;
}

.user-statistics-item-best-time {
	text-align: end;
	color: #333333;
	text-align: start;
	font-family: 'Oswald';
	font-weight: 700;
	font-size: 24px;
}

.main-head-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 40px;
	margin-top: 20px;
	margin-bottom: 25px;
}