.scroll-to-top {
	position: relative;
}

.scroll-to-top-icon {
	position: fixed;
	bottom: 40px;
	right: 50px;
	z-index: 20;
	height: 50px;
	width: 50px;
	color: #333333;
	animation: movebtn 3s ease-in-out infinite;
	transition: all .5s ease-in-out;
}

.scroll-to-top-icon:hover {
	cursor: pointer;
	animation: none;
	opacity: 0.5;
}