.side-event-list-menu {
	position: fixed;
	right: 30px;
	top: 20px;
	z-index: 999;
}

.side-event-list {
	text-decoration: none;
	list-style: none;
	font-size: 32px;
	text-align: center;
	width: 50px;
}

.side-event-list-item {
	border: 1px solid #333333;
	margin-bottom: -1px;
}

.side-event-list-item:hover {
	cursor: pointer;
	opacity: 0.5;
}

.side-event-list-item:active {
	cursor: pointer;
	opacity: 0.5;
	color: white;
	background: #333333;
}

.side-event-list-item:focus {
	cursor: pointer;
	opacity: 0.5;
	color: white;
	background: #333333;
}

.selected-side-menu-item {
	background-color: #333333;
	color: white
}

a {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: #333333;
}